{
  "presets":[
    "env", "react", "react-optimize", "stage-1"
  ],
  "env": {
    "development": {
      "plugins": [
        ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
      ]
    },
    "production": {
      "plugins": [
        ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
      ]
    }
  },
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    ["babel-plugin-styled-components", {
      "displayName": true
    }],
    "syntax-dynamic-import",
    ["babel-plugin-root-import", {
      "rootPathPrefix": "~",
      "rootPathSuffix": "src"
    }]
  ]
}